body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.digimon-card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.filtro-container,
.filtroNome-container {
  margin-bottom: 20px;
}

/* Adicionando estilos para a classe 'filtrar' */
.filtrar,
.filtrarNome {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Adicionando estilos para a classe 'btn-filtrar' e 'btn-filtrar-nome' */
.btn-filtrar,
.btn-filtrar-nome {
  background-color: #742de7;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilizando o botão quando o cursor estiver sobre ele */
.btn-filtrar:hover,
.btn-filtrar-nome:hover {
  background-color: #4303aa;
}